# specVersion: 1.0.0 (based on WordPress 6.9.4 API)
openapi: "3.0.3"
info:
  title: "WordPress REST API"
  description: "The WordPress REST API is a powerful part of WordPress that lets you read and write various parts of WordPress data such as posts, pages, users, media, categories, tags, and custom content types defined in the installation."
  version: "v2"
  contact:
    name: "WTX Labs Team"
    url: "https://github.com/wtx-labs/wordpress-api-openapi-specification"
    email: "labs@wtx.pl"
servers:
  - url: "https://example-wordpress.com/wp-json/wp/v2"
security:
  - basicAuth: []
tags:
  - name: "Block Directory"
  - name: "Block Patterns"
  - name: "Block Types"
  - name: "Blocks"
  - name: "Categories"
  - name: "Comments"
  - name: "Font Collections"
  - name: "Font Families"
  - name: "Media"
  - name: "Menu Items"
  - name: "Menu Locations"
  - name: "Menus"
  - name: "Navigation"
  - name: "Other"
  - name: "Pages"
  - name: "Pattern Categories"
  - name: "Pattern Directory"
  - name: "Plugins"
  - name: "Post Statuses"
  - name: "Post Types"
  - name: "Posts"
  - name: "Search"
  - name: "Settings"
  - name: "Sidebars"
  - name: "Tags"
  - name: "Taxonomies"
  - name: "Template Parts"
  - name: "Templates"
  - name: "Themes"
  - name: "Users"
  - name: "Widget Types"
  - name: "Widgets"
components:
  schemas:
    Post:
      title: "Post"
      type: "object"
      properties:
        date:
          description: "The date the post was published, in the site's timezone."
          type: "string"
          format: "date-time"
          nullable: true
        date_gmt:
          description: "The date the post was published, as GMT."
          type: "string"
          format: "date-time"
          nullable: true
        guid:
          description: "The globally unique identifier for the post."
          type: "object"
          properties:
            raw:
              description: "GUID for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "GUID for the post, transformed for display."
              type: "string"
        id:
          description: "Unique identifier for the post."
          type: "integer"
        link:
          description: "URL to the post."
          type: "string"
          format: "uri"
        modified:
          description: "The date the post was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the post was last modified, as GMT."
          type: "string"
          format: "date-time"
        slug:
          description: "An alphanumeric identifier for the post unique to its type."
          type: "string"
        status:
          description: "A named status for the post."
          type: "string"
          enum:
            - "publish"
            - "future"
            - "draft"
            - "pending"
            - "private"
        type:
          description: "Type of post."
          type: "string"
        password:
          description: "A password to protect access to the content and excerpt."
          type: "string"
        permalink_template:
          description: "Permalink template for the post."
          type: "string"
        generated_slug:
          description: "Slug automatically generated from the post title."
          type: "string"
        class_list:
          description: "An array of the class names for the post container element."
          type: "array"
          items:
            type: "string"
        title:
          description: "The title for the post."
          type: "object"
          properties:
            raw:
              description: "Title for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the post, transformed for display."
              type: "string"
        content:
          description: "The content for the post."
          type: "object"
          properties:
            raw:
              description: "Content for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML content for the post, transformed for display."
              type: "string"
            block_version:
              description: "Version of the content block format used by the post."
              type: "integer"
            protected:
              description: "Whether the content is protected with a password."
              type: "boolean"
        author:
          description: "The ID for the author of the post."
          type: "integer"
        excerpt:
          description: "The excerpt for the post."
          type: "object"
          properties:
            raw:
              description: "Excerpt for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML excerpt for the post, transformed for display."
              type: "string"
            protected:
              description: "Whether the excerpt is protected with a password."
              type: "boolean"
        featured_media:
          description: "The ID of the featured media for the post."
          type: "integer"
        comment_status:
          description: "Whether or not comments are open on the post."
          type: "string"
          enum:
            - "open"
            - "closed"
        ping_status:
          description: "Whether or not the post can be pinged."
          type: "string"
          enum:
            - "open"
            - "closed"
        format:
          description: "The format for the post."
          type: "string"
          enum:
            - "standard"
            - "aside"
            - "chat"
            - "gallery"
            - "link"
            - "image"
            - "quote"
            - "status"
            - "video"
            - "audio"
        meta:
          description: "Meta fields."
          type: "object"
          properties:
            footnotes:
              type: "string"
              title: ""
              description: ""
              default: ""
        sticky:
          description: "Whether or not the post should be treated as sticky."
          type: "boolean"
        template:
          description: "The theme file to use to display the post."
          type: "string"
        categories:
          description: "The terms assigned to the post in the category taxonomy."
          type: "array"
          items:
            type: "integer"
        tags:
          description: "The terms assigned to the post in the post_tag taxonomy."
          type: "array"
          items:
            type: "integer"
    Postrevision:
      title: "Postrevision"
      type: "object"
      properties:
        author:
          description: "The ID for the author of the revision."
          type: "integer"
        date:
          description: "The date the revision was published, in the site's timezone."
          type: "string"
          format: "date-time"
        date_gmt:
          description: "The date the revision was published, as GMT."
          type: "string"
          format: "date-time"
        guid:
          description: "The globally unique identifier for the post."
          type: "object"
          properties:
            raw:
              description: "GUID for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "GUID for the post, transformed for display."
              type: "string"
        id:
          description: "Unique identifier for the revision."
          type: "integer"
        modified:
          description: "The date the revision was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the revision was last modified, as GMT."
          type: "string"
          format: "date-time"
        parent:
          description: "The ID for the parent of the revision."
          type: "integer"
        slug:
          description: "An alphanumeric identifier for the revision unique to its type."
          type: "string"
        title:
          description: "The title for the post."
          type: "object"
          properties:
            raw:
              description: "Title for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the post, transformed for display."
              type: "string"
        content:
          description: "The content for the post."
          type: "object"
          properties:
            raw:
              description: "Content for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML content for the post, transformed for display."
              type: "string"
            block_version:
              description: "Version of the content block format used by the post."
              type: "integer"
            protected:
              description: "Whether the content is protected with a password."
              type: "boolean"
        excerpt:
          description: "The excerpt for the post."
          type: "object"
          properties:
            raw:
              description: "Excerpt for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML excerpt for the post, transformed for display."
              type: "string"
            protected:
              description: "Whether the excerpt is protected with a password."
              type: "boolean"
        meta:
          description: "Meta fields."
          type: "object"
          properties:
            footnotes:
              type: "string"
              title: ""
              description: ""
              default: ""
        preview_link:
          description: "Preview link for the post."
          type: "string"
          format: "uri"
    Page:
      title: "Page"
      type: "object"
      properties:
        date:
          description: "The date the post was published, in the site's timezone."
          type: "string"
          format: "date-time"
          nullable: true
        date_gmt:
          description: "The date the post was published, as GMT."
          type: "string"
          format: "date-time"
          nullable: true
        guid:
          description: "The globally unique identifier for the post."
          type: "object"
          properties:
            raw:
              description: "GUID for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "GUID for the post, transformed for display."
              type: "string"
        id:
          description: "Unique identifier for the post."
          type: "integer"
        link:
          description: "URL to the post."
          type: "string"
          format: "uri"
        modified:
          description: "The date the post was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the post was last modified, as GMT."
          type: "string"
          format: "date-time"
        slug:
          description: "An alphanumeric identifier for the post unique to its type."
          type: "string"
        status:
          description: "A named status for the post."
          type: "string"
          enum:
            - "publish"
            - "future"
            - "draft"
            - "pending"
            - "private"
        type:
          description: "Type of post."
          type: "string"
        password:
          description: "A password to protect access to the content and excerpt."
          type: "string"
        permalink_template:
          description: "Permalink template for the post."
          type: "string"
        generated_slug:
          description: "Slug automatically generated from the post title."
          type: "string"
        class_list:
          description: "An array of the class names for the post container element."
          type: "array"
          items:
            type: "string"
        parent:
          description: "The ID for the parent of the post."
          type: "integer"
        title:
          description: "The title for the post."
          type: "object"
          properties:
            raw:
              description: "Title for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the post, transformed for display."
              type: "string"
        content:
          description: "The content for the post."
          type: "object"
          properties:
            raw:
              description: "Content for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML content for the post, transformed for display."
              type: "string"
            block_version:
              description: "Version of the content block format used by the post."
              type: "integer"
            protected:
              description: "Whether the content is protected with a password."
              type: "boolean"
        author:
          description: "The ID for the author of the post."
          type: "integer"
        excerpt:
          description: "The excerpt for the post."
          type: "object"
          properties:
            raw:
              description: "Excerpt for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML excerpt for the post, transformed for display."
              type: "string"
            protected:
              description: "Whether the excerpt is protected with a password."
              type: "boolean"
        featured_media:
          description: "The ID of the featured media for the post."
          type: "integer"
        comment_status:
          description: "Whether or not comments are open on the post."
          type: "string"
          enum:
            - "open"
            - "closed"
        ping_status:
          description: "Whether or not the post can be pinged."
          type: "string"
          enum:
            - "open"
            - "closed"
        menu_order:
          description: "The order of the post in relation to other posts."
          type: "integer"
        meta:
          description: "Meta fields."
          type: "object"
          properties:
            footnotes:
              type: "string"
              title: ""
              description: ""
              default: ""
        template:
          description: "The theme file to use to display the post."
          type: "string"
    Pagerevision:
      title: "Pagerevision"
      type: "object"
      properties:
        author:
          description: "The ID for the author of the revision."
          type: "integer"
        date:
          description: "The date the revision was published, in the site's timezone."
          type: "string"
          format: "date-time"
        date_gmt:
          description: "The date the revision was published, as GMT."
          type: "string"
          format: "date-time"
        guid:
          description: "The globally unique identifier for the post."
          type: "object"
          properties:
            raw:
              description: "GUID for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "GUID for the post, transformed for display."
              type: "string"
        id:
          description: "Unique identifier for the revision."
          type: "integer"
        modified:
          description: "The date the revision was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the revision was last modified, as GMT."
          type: "string"
          format: "date-time"
        parent:
          description: "The ID for the parent of the revision."
          type: "integer"
        slug:
          description: "An alphanumeric identifier for the revision unique to its type."
          type: "string"
        title:
          description: "The title for the post."
          type: "object"
          properties:
            raw:
              description: "Title for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the post, transformed for display."
              type: "string"
        content:
          description: "The content for the post."
          type: "object"
          properties:
            raw:
              description: "Content for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML content for the post, transformed for display."
              type: "string"
            block_version:
              description: "Version of the content block format used by the post."
              type: "integer"
            protected:
              description: "Whether the content is protected with a password."
              type: "boolean"
        excerpt:
          description: "The excerpt for the post."
          type: "object"
          properties:
            raw:
              description: "Excerpt for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML excerpt for the post, transformed for display."
              type: "string"
            protected:
              description: "Whether the excerpt is protected with a password."
              type: "boolean"
        meta:
          description: "Meta fields."
          type: "object"
          properties:
            footnotes:
              type: "string"
              title: ""
              description: ""
              default: ""
        preview_link:
          description: "Preview link for the post."
          type: "string"
          format: "uri"
    Attachment:
      title: "Attachment"
      type: "object"
      properties:
        date:
          description: "The date the post was published, in the site's timezone."
          type: "string"
          format: "date-time"
          nullable: true
        date_gmt:
          description: "The date the post was published, as GMT."
          type: "string"
          format: "date-time"
          nullable: true
        guid:
          description: "The globally unique identifier for the post."
          type: "object"
          properties:
            raw:
              description: "GUID for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "GUID for the post, transformed for display."
              type: "string"
        id:
          description: "Unique identifier for the post."
          type: "integer"
        link:
          description: "URL to the post."
          type: "string"
          format: "uri"
        modified:
          description: "The date the post was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the post was last modified, as GMT."
          type: "string"
          format: "date-time"
        slug:
          description: "An alphanumeric identifier for the post unique to its type."
          type: "string"
        status:
          description: "A named status for the post."
          type: "string"
          enum:
            - "publish"
            - "future"
            - "draft"
            - "pending"
            - "private"
        type:
          description: "Type of post."
          type: "string"
        permalink_template:
          description: "Permalink template for the post."
          type: "string"
        generated_slug:
          description: "Slug automatically generated from the post title."
          type: "string"
        class_list:
          description: "An array of the class names for the post container element."
          type: "array"
          items:
            type: "string"
        title:
          description: "The title for the post."
          type: "object"
          properties:
            raw:
              description: "Title for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the post, transformed for display."
              type: "string"
        author:
          description: "The ID for the author of the post."
          type: "integer"
        featured_media:
          description: "The ID of the featured media for the post."
          type: "integer"
        comment_status:
          description: "Whether or not comments are open on the post."
          type: "string"
          enum:
            - "open"
            - "closed"
        ping_status:
          description: "Whether or not the post can be pinged."
          type: "string"
          enum:
            - "open"
            - "closed"
        meta:
          description: "Meta fields."
          type: "object"
          properties: {}
        template:
          description: "The theme file to use to display the post."
          type: "string"
        alt_text:
          description: "Alternative text to display when attachment is not displayed."
          type: "string"
        caption:
          description: "The attachment caption."
          type: "object"
          properties:
            raw:
              description: "Caption for the attachment, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML caption for the attachment, transformed for display."
              type: "string"
        description:
          description: "The attachment description."
          type: "object"
          properties:
            raw:
              description: "Description for the attachment, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML description for the attachment, transformed for display."
              type: "string"
        media_type:
          description: "Attachment type."
          type: "string"
          enum:
            - "image"
            - "file"
        mime_type:
          description: "The attachment MIME type."
          type: "string"
        media_details:
          description: "Details about the media file, specific to its type."
          type: "object"
        post:
          description: "The ID for the associated post of the attachment."
          type: "integer"
        source_url:
          description: "URL to the original attachment file."
          type: "string"
          format: "uri"
        missing_image_sizes:
          description: "List of the missing image sizes of the attachment."
          type: "array"
          items:
            type: "string"
    Navmenuitem:
      title: "Navmenuitem"
      type: "object"
      properties:
        title:
          description: "The title for the object."
          properties:
            raw:
              description: "Title for the object, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the object, transformed for display."
              type: "string"
          oneOf:
            - type: "string"
            - type: "object"
        id:
          description: "Unique identifier for the object."
          type: "integer"
          default: 0
          minimum: 0
        type_label:
          description: "The singular label used to describe this type of menu item."
          type: "string"
        type:
          description: "The family of objects originally represented, such as \"post_type\" or \"taxonomy\"."
          type: "string"
          enum:
            - "taxonomy"
            - "post_type"
            - "post_type_archive"
            - "custom"
          default: "custom"
        status:
          description: "A named status for the object."
          type: "string"
          enum:
            - "publish"
            - "future"
            - "draft"
            - "pending"
            - "private"
          default: "publish"
        parent:
          description: "The ID for the parent of the object."
          type: "integer"
          minimum: 0
          default: 0
        attr_title:
          description: "Text for the title attribute of the link element for this menu item."
          type: "string"
        classes:
          description: "Class names for the link element of this menu item."
          type: "array"
          items:
            type: "string"
        description:
          description: "The description of this menu item."
          type: "string"
        menu_order:
          description: "The DB ID of the nav_menu_item that is this item's menu parent, if any, otherwise 0."
          type: "integer"
          minimum: 1
          default: 1
        object:
          description: "The type of object originally represented, such as \"category\", \"post\", or \"attachment\"."
          type: "string"
        object_id:
          description: "The database ID of the original object this menu item represents, for example the ID for posts or the
            term_id for categories."
          type: "integer"
          minimum: 0
          default: 0
        target:
          description: "The target attribute of the link element for this menu item."
          type: "string"
          enum:
            - "_blank"
            - ""
        url:
          description: "The URL to which this menu item points."
          type: "string"
          format: "uri"
        xfn:
          description: "The XFN relationship expressed in the link of this menu item."
          type: "array"
          items:
            type: "string"
        invalid:
          description: "Whether the menu item represents an object that no longer exists."
          type: "boolean"
        menus:
          description: "The terms assigned to the object in the nav_menu taxonomy."
          type: "integer"
        meta:
          description: "Meta fields."
          type: "object"
          properties: {}
    Navmenuitemrevision:
      title: "Navmenuitemrevision"
      type: "object"
      properties:
        author:
          description: "The ID for the author of the revision."
          type: "integer"
        date:
          description: "The date the revision was published, in the site's timezone."
          type: "string"
          format: "date-time"
        date_gmt:
          description: "The date the revision was published, as GMT."
          type: "string"
          format: "date-time"
        guid:
          description: "GUID for the revision, as it exists in the database."
          type: "string"
        id:
          description: "Unique identifier for the revision."
          type: "integer"
        modified:
          description: "The date the revision was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the revision was last modified, as GMT."
          type: "string"
          format: "date-time"
        parent:
          description: "The ID for the parent of the revision."
          type: "integer"
        slug:
          description: "An alphanumeric identifier for the revision unique to its type."
          type: "string"
        title:
          description: "The title for the object."
          properties:
            raw:
              description: "Title for the object, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the object, transformed for display."
              type: "string"
          oneOf:
            - type: "string"
            - type: "object"
        meta:
          description: "Meta fields."
          type: "object"
          properties: {}
        preview_link:
          description: "Preview link for the post."
          type: "string"
          format: "uri"
    Wpblock:
      title: "Wpblock"
      type: "object"
      properties:
        date:
          description: "The date the post was published, in the site's timezone."
          type: "string"
          format: "date-time"
          nullable: true
        date_gmt:
          description: "The date the post was published, as GMT."
          type: "string"
          format: "date-time"
          nullable: true
        guid:
          description: "The globally unique identifier for the post."
          type: "object"
          properties:
            raw:
              description: "GUID for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "GUID for the post, transformed for display."
              type: "string"
        id:
          description: "Unique identifier for the post."
          type: "integer"
        link:
          description: "URL to the post."
          type: "string"
          format: "uri"
        modified:
          description: "The date the post was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the post was last modified, as GMT."
          type: "string"
          format: "date-time"
        slug:
          description: "An alphanumeric identifier for the post unique to its type."
          type: "string"
        status:
          description: "A named status for the post."
          type: "string"
          enum:
            - "publish"
            - "future"
            - "draft"
            - "pending"
            - "private"
        type:
          description: "Type of post."
          type: "string"
        password:
          description: "A password to protect access to the content and excerpt."
          type: "string"
        title:
          description: "The title for the post."
          type: "object"
          properties:
            raw:
              description: "Title for the post, as it exists in the database."
              type: "string"
        content:
          description: "The content for the post."
          type: "object"
          properties:
            raw:
              description: "Content for the post, as it exists in the database."
              type: "string"
            block_version:
              description: "Version of the content block format used by the post."
              type: "integer"
            protected:
              description: "Whether the content is protected with a password."
              type: "boolean"
        excerpt:
          description: "The excerpt for the post."
          type: "object"
          properties:
            raw:
              description: "Excerpt for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML excerpt for the post, transformed for display."
              type: "string"
            protected:
              description: "Whether the excerpt is protected with a password."
              type: "boolean"
        meta:
          description: "Meta fields."
          type: "object"
          properties:
            wp_pattern_sync_status:
              type: "string"
              title: ""
              description: ""
              enum:
                - "partial"
                - "unsynced"
            footnotes:
              type: "string"
              title: ""
              description: ""
              default: ""
        template:
          description: "The theme file to use to display the post."
          type: "string"
        wp_pattern_category:
          description: "The terms assigned to the post in the wp_pattern_category taxonomy."
          type: "array"
          items:
            type: "integer"
    Wpblockrevision:
      title: "Wpblockrevision"
      type: "object"
      properties:
        author:
          description: "The ID for the author of the revision."
          type: "integer"
        date:
          description: "The date the revision was published, in the site's timezone."
          type: "string"
          format: "date-time"
        date_gmt:
          description: "The date the revision was published, as GMT."
          type: "string"
          format: "date-time"
        guid:
          description: "The globally unique identifier for the post."
          type: "object"
          properties:
            raw:
              description: "GUID for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "GUID for the post, transformed for display."
              type: "string"
        id:
          description: "Unique identifier for the revision."
          type: "integer"
        modified:
          description: "The date the revision was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the revision was last modified, as GMT."
          type: "string"
          format: "date-time"
        parent:
          description: "The ID for the parent of the revision."
          type: "integer"
        slug:
          description: "An alphanumeric identifier for the revision unique to its type."
          type: "string"
        title:
          description: "The title for the post."
          type: "object"
          properties:
            raw:
              description: "Title for the post, as it exists in the database."
              type: "string"
        content:
          description: "The content for the post."
          type: "object"
          properties:
            raw:
              description: "Content for the post, as it exists in the database."
              type: "string"
            block_version:
              description: "Version of the content block format used by the post."
              type: "integer"
            protected:
              description: "Whether the content is protected with a password."
              type: "boolean"
        excerpt:
          description: "The excerpt for the post."
          type: "object"
          properties:
            raw:
              description: "Excerpt for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML excerpt for the post, transformed for display."
              type: "string"
            protected:
              description: "Whether the excerpt is protected with a password."
              type: "boolean"
        meta:
          description: "Meta fields."
          type: "object"
          properties:
            wp_pattern_sync_status:
              type: "string"
              title: ""
              description: ""
              enum:
                - "partial"
                - "unsynced"
            footnotes:
              type: "string"
              title: ""
              description: ""
              default: ""
        preview_link:
          description: "Preview link for the post."
          type: "string"
          format: "uri"
    Wptemplate:
      title: "Wptemplate"
      type: "object"
      properties:
        id:
          description: "ID of template."
          type: "string"
        slug:
          description: "Unique slug identifying the template."
          type: "string"
          minLength: 1
          pattern: "[a-zA-Z0-9_\\%-]+"
        theme:
          description: "Theme identifier for the template."
          type: "string"
        type:
          description: "Type of template."
          type: "string"
        source:
          description: "Source of template"
          type: "string"
        origin:
          description: "Source of a customized template"
          type: "string"
        content:
          description: "Content of template."
          properties:
            raw:
              description: "Content for the template, as it exists in the database."
              type: "string"
            block_version:
              description: "Version of the content block format used by the template."
              type: "integer"
          oneOf:
            - type: "object"
            - type: "string"
        title:
          description: "Title of template."
          properties:
            raw:
              description: "Title for the template, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the template, transformed for display."
              type: "string"
          oneOf:
            - type: "object"
            - type: "string"
        description:
          description: "Description of template."
          type: "string"
          default: ""
        status:
          description: "Status of template."
          type: "string"
          enum:
            - "publish"
            - "future"
            - "draft"
            - "pending"
            - "private"
          default: "publish"
        wp_id:
          description: "Post ID."
          type: "integer"
        has_theme_file:
          description: "Theme file exists."
          type: "boolean"
        author:
          description: "The ID for the author of the template."
          type: "integer"
        modified:
          description: "The date the template was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        author_text:
          type: "string"
          description: "Human readable text for the author."
        original_source:
          description: "Where the template originally comes from e.g. 'theme'"
          type: "string"
          enum:
            - "theme"
            - "plugin"
            - "site"
            - "user"
        is_custom:
          description: "Whether a template is a custom template."
          type: "boolean"
        plugin:
          type: "string"
          description: "Plugin that registered the template."
    Wptemplatepart:
      title: "Wptemplatepart"
      type: "object"
      properties:
        id:
          description: "ID of template."
          type: "string"
        slug:
          description: "Unique slug identifying the template."
          type: "string"
          minLength: 1
          pattern: "[a-zA-Z0-9_\\%-]+"
        theme:
          description: "Theme identifier for the template."
          type: "string"
        type:
          description: "Type of template."
          type: "string"
        source:
          description: "Source of template"
          type: "string"
        origin:
          description: "Source of a customized template"
          type: "string"
        content:
          description: "Content of template."
          properties:
            raw:
              description: "Content for the template, as it exists in the database."
              type: "string"
            block_version:
              description: "Version of the content block format used by the template."
              type: "integer"
          oneOf:
            - type: "object"
            - type: "string"
        title:
          description: "Title of template."
          properties:
            raw:
              description: "Title for the template, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the template, transformed for display."
              type: "string"
          oneOf:
            - type: "object"
            - type: "string"
        description:
          description: "Description of template."
          type: "string"
          default: ""
        status:
          description: "Status of template."
          type: "string"
          enum:
            - "publish"
            - "future"
            - "draft"
            - "pending"
            - "private"
          default: "publish"
        wp_id:
          description: "Post ID."
          type: "integer"
        has_theme_file:
          description: "Theme file exists."
          type: "boolean"
        author:
          description: "The ID for the author of the template."
          type: "integer"
        modified:
          description: "The date the template was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        author_text:
          type: "string"
          description: "Human readable text for the author."
        original_source:
          description: "Where the template originally comes from e.g. 'theme'"
          type: "string"
          enum:
            - "theme"
            - "plugin"
            - "site"
            - "user"
        area:
          description: "Where the template part is intended for use (header, footer, etc.)"
          type: "string"
    Wpglobalstylesrevision:
      title: "Wpglobalstylesrevision"
      type: "object"
      properties:
        author:
          description: "The ID for the author of the revision."
          type: "integer"
        date:
          description: "The date the revision was published, in the site's timezone."
          type: "string"
          format: "date-time"
        date_gmt:
          description: "The date the revision was published, as GMT."
          type: "string"
          format: "date-time"
        id:
          description: "ID of global styles config."
          type: "integer"
        modified:
          description: "The date the revision was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the revision was last modified, as GMT."
          type: "string"
          format: "date-time"
        parent:
          description: "The ID for the parent of the revision."
          type: "integer"
        styles:
          description: "Global styles."
          type: "object"
        settings:
          description: "Global settings."
          type: "object"
    Wpglobalstyles:
      title: "Wpglobalstyles"
      type: "object"
      properties:
        id:
          description: "ID of global styles config."
          type: "integer"
        styles:
          description: "Global styles."
          type: "object"
        settings:
          description: "Global settings."
          type: "object"
        title:
          description: "Title of the global styles variation."
          properties:
            raw:
              description: "Title for the global styles variation, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the post, transformed for display."
              type: "string"
          oneOf:
            - type: "object"
            - type: "string"
    Wpnavigation:
      title: "Wpnavigation"
      type: "object"
      properties:
        date:
          description: "The date the post was published, in the site's timezone."
          type: "string"
          format: "date-time"
          nullable: true
        date_gmt:
          description: "The date the post was published, as GMT."
          type: "string"
          format: "date-time"
          nullable: true
        guid:
          description: "The globally unique identifier for the post."
          type: "object"
          properties:
            raw:
              description: "GUID for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "GUID for the post, transformed for display."
              type: "string"
        id:
          description: "Unique identifier for the post."
          type: "integer"
        link:
          description: "URL to the post."
          type: "string"
          format: "uri"
        modified:
          description: "The date the post was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the post was last modified, as GMT."
          type: "string"
          format: "date-time"
        slug:
          description: "An alphanumeric identifier for the post unique to its type."
          type: "string"
        status:
          description: "A named status for the post."
          type: "string"
          enum:
            - "publish"
            - "future"
            - "draft"
            - "pending"
            - "private"
        type:
          description: "Type of post."
          type: "string"
        password:
          description: "A password to protect access to the content and excerpt."
          type: "string"
        title:
          description: "The title for the post."
          type: "object"
          properties:
            raw:
              description: "Title for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the post, transformed for display."
              type: "string"
        content:
          description: "The content for the post."
          type: "object"
          properties:
            raw:
              description: "Content for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML content for the post, transformed for display."
              type: "string"
            block_version:
              description: "Version of the content block format used by the post."
              type: "integer"
            protected:
              description: "Whether the content is protected with a password."
              type: "boolean"
        template:
          description: "The theme file to use to display the post."
          type: "string"
    Wpnavigationrevision:
      title: "Wpnavigationrevision"
      type: "object"
      properties:
        author:
          description: "The ID for the author of the revision."
          type: "integer"
        date:
          description: "The date the revision was published, in the site's timezone."
          type: "string"
          format: "date-time"
        date_gmt:
          description: "The date the revision was published, as GMT."
          type: "string"
          format: "date-time"
        guid:
          description: "The globally unique identifier for the post."
          type: "object"
          properties:
            raw:
              description: "GUID for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "GUID for the post, transformed for display."
              type: "string"
        id:
          description: "Unique identifier for the revision."
          type: "integer"
        modified:
          description: "The date the revision was last modified, in the site's timezone."
          type: "string"
          format: "date-time"
        modified_gmt:
          description: "The date the revision was last modified, as GMT."
          type: "string"
          format: "date-time"
        parent:
          description: "The ID for the parent of the revision."
          type: "integer"
        slug:
          description: "An alphanumeric identifier for the revision unique to its type."
          type: "string"
        title:
          description: "The title for the post."
          type: "object"
          properties:
            raw:
              description: "Title for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML title for the post, transformed for display."
              type: "string"
        content:
          description: "The content for the post."
          type: "object"
          properties:
            raw:
              description: "Content for the post, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML content for the post, transformed for display."
              type: "string"
            block_version:
              description: "Version of the content block format used by the post."
              type: "integer"
            protected:
              description: "Whether the content is protected with a password."
              type: "boolean"
        meta:
          description: "Meta fields."
          type: "object"
          properties: {}
        preview_link:
          description: "Preview link for the post."
          type: "string"
          format: "uri"
    Wpfontfamily:
      title: "Wpfontfamily"
      type: "object"
      properties:
        id:
          description: "Unique identifier for the post."
          type: "integer"
        theme_json_version:
          description: "Version of the theme.json schema used for the typography settings."
          type: "integer"
          default: 3
          minimum: 2
          maximum: 3
        font_faces:
          description: "The IDs of the child font faces in the font family."
          type: "array"
          items:
            type: "integer"
        font_family_settings:
          description: "font-face definition in theme.json format."
          type: "object"
          properties:
            name:
              description: "Name of the font family preset, translatable."
              type: "string"
            slug:
              description: "Kebab-case unique identifier for the font family preset."
              type: "string"
            fontFamily:
              description: "CSS font-family value."
              type: "string"
            preview:
              description: "URL to a preview image of the font family."
              type: "string"
              format: "uri"
              default: ""
          additionalProperties: false
    Wpfontface:
      title: "Wpfontface"
      type: "object"
      properties:
        id:
          description: "Unique identifier for the post."
          type: "integer"
        theme_json_version:
          description: "Version of the theme.json schema used for the typography settings."
          type: "integer"
          default: 3
          minimum: 2
          maximum: 3
        parent:
          description: "The ID for the parent font family of the font face."
          type: "integer"
        font_face_settings:
          description: "font-face declaration in theme.json format."
          type: "object"
          properties:
            fontFamily:
              description: "CSS font-family value."
              type: "string"
              default: ""
            fontStyle:
              description: "CSS font-style value."
              type: "string"
              default: "normal"
            fontWeight:
              description: "List of available font weights, separated by a space."
              oneOf:
                - type: "string"
                - type: "integer"
            fontDisplay:
              description: "CSS font-display value."
              type: "string"
              default: "fallback"
              enum:
                - "auto"
                - "block"
                - "fallback"
                - "swap"
                - "optional"
            src:
              description: "Paths or URLs to the font files."
              anyOf:
                - type: "string"
                - type: "array"
                  items:
                    type: "string"
            fontStretch:
              description: "CSS font-stretch value."
              type: "string"
            ascentOverride:
              description: "CSS ascent-override value."
              type: "string"
            descentOverride:
              description: "CSS descent-override value."
              type: "string"
            fontVariant:
              description: "CSS font-variant value."
              type: "string"
            fontFeatureSettings:
              description: "CSS font-feature-settings value."
              type: "string"
            fontVariationSettings:
              description: "CSS font-variation-settings value."
              type: "string"
            lineGapOverride:
              description: "CSS line-gap-override value."
              type: "string"
            sizeAdjust:
              description: "CSS size-adjust value."
              type: "string"
            unicodeRange:
              description: "CSS unicode-range value."
              type: "string"
            preview:
              description: "URL to a preview image of the font face."
              type: "string"
              format: "uri"
              default: ""
          additionalProperties: false
    Restposttype:
      title: "Restposttype"
      type: "object"
      properties:
        capabilities:
          description: "All capabilities used by the post type."
          type: "object"
        description:
          description: "A human-readable description of the post type."
          type: "string"
        hierarchical:
          description: "Whether or not the post type should have children."
          type: "boolean"
        viewable:
          description: "Whether or not the post type can be viewed."
          type: "boolean"
        labels:
          description: "Human-readable labels for the post type for various contexts."
          type: "object"
        name:
          description: "The title for the post type."
          type: "string"
        slug:
          description: "An alphanumeric identifier for the post type."
          type: "string"
        supports:
          description: "All features, supported by the post type."
          type: "object"
        has_archive:
          description: "If the value is a string, the value will be used as the archive slug. If the value is false the post type
            has no archive."
          oneOf:
            - type: "string"
            - type: "boolean"
        taxonomies:
          description: "Taxonomies associated with post type."
          type: "array"
          items:
            type: "string"
        rest_base:
          description: "REST base route for the post type."
          type: "string"
        rest_namespace:
          description: "REST route's namespace for the post type."
          type: "string"
        visibility:
          description: "The visibility settings for the post type."
          type: "object"
          properties:
            show_ui:
              description: "Whether to generate a default UI for managing this post type."
              type: "boolean"
            show_in_nav_menus:
              description: "Whether to make the post type available for selection in navigation menus."
              type: "boolean"
        icon:
          description: "The icon for the post type."
          type: "string"
          nullable: true
        template:
          type: "array"
          description: "The block template associated with the post type."
          items:
            type: "string"
        template_lock:
          description: "The template_lock associated with the post type, or false if none."
          oneOf:
            - type: "string"
              enum:
                - "all"
                - "insert"
                - "contentOnly"
            - type: "boolean"
              enum:
                - false
    Status:
      title: "Status"
      type: "object"
      properties:
        name:
          description: "The title for the status."
          type: "string"
        private:
          description: "Whether posts with this status should be private."
          type: "boolean"
        protected:
          description: "Whether posts with this status should be protected."
          type: "boolean"
        public:
          description: "Whether posts of this status should be shown in the front end of the site."
          type: "boolean"
        queryable:
          description: "Whether posts with this status should be publicly-queryable."
          type: "boolean"
        show_in_list:
          description: "Whether to include posts in the edit listing for their post type."
          type: "boolean"
        slug:
          description: "An alphanumeric identifier for the status."
          type: "string"
        date_floating:
          description: "Whether posts of this status may have floating published dates."
          type: "boolean"
    Taxonomy:
      title: "Taxonomy"
      type: "object"
      properties:
        capabilities:
          description: "All capabilities used by the taxonomy."
          type: "object"
        description:
          description: "A human-readable description of the taxonomy."
          type: "string"
        hierarchical:
          description: "Whether or not the taxonomy should have children."
          type: "boolean"
        labels:
          description: "Human-readable labels for the taxonomy for various contexts."
          type: "object"
        name:
          description: "The title for the taxonomy."
          type: "string"
        slug:
          description: "An alphanumeric identifier for the taxonomy."
          type: "string"
        show_cloud:
          description: "Whether or not the term cloud should be displayed."
          type: "boolean"
        types:
          description: "Types associated with the taxonomy."
          type: "array"
          items:
            type: "string"
        rest_base:
          description: "REST base route for the taxonomy."
          type: "string"
        rest_namespace:
          description: "REST namespace route for the taxonomy."
          type: "string"
        visibility:
          description: "The visibility settings for the taxonomy."
          type: "object"
          properties:
            public:
              description: "Whether a taxonomy is intended for use publicly either via the admin interface or by front-end users."
              type: "boolean"
            publicly_queryable:
              description: "Whether the taxonomy is publicly queryable."
              type: "boolean"
            show_ui:
              description: "Whether to generate a default UI for managing this taxonomy."
              type: "boolean"
            show_admin_column:
              description: "Whether to allow automatic creation of taxonomy columns on associated post-types table."
              type: "boolean"
            show_in_nav_menus:
              description: "Whether to make the taxonomy available for selection in navigation menus."
              type: "boolean"
            show_in_quick_edit:
              description: "Whether to show the taxonomy in the quick/bulk edit panel."
              type: "boolean"
    Category:
      title: "Category"
      type: "object"
      properties:
        id:
          description: "Unique identifier for the term."
          type: "integer"
        count:
          description: "Number of published posts for the term."
          type: "integer"
        description:
          description: "HTML description of the term."
          type: "string"
        link:
          description: "URL of the term."
          type: "string"
          format: "uri"
        name:
          description: "HTML title for the term."
          type: "string"
        slug:
          description: "An alphanumeric identifier for the term unique to its type."
          type: "string"
        taxonomy:
          description: "Type attribution for the term."
          type: "string"
          enum:
            - "category"
        parent:
          description: "The parent term ID."
          type: "integer"
        meta:
          description: "Meta fields."
          type: "object"
          properties: {}
    Tag:
      title: "Tag"
      type: "object"
      properties:
        id:
          description: "Unique identifier for the term."
          type: "integer"
        count:
          description: "Number of published posts for the term."
          type: "integer"
        description:
          description: "HTML description of the term."
          type: "string"
        link:
          description: "URL of the term."
          type: "string"
          format: "uri"
        name:
          description: "HTML title for the term."
          type: "string"
        slug:
          description: "An alphanumeric identifier for the term unique to its type."
          type: "string"
        taxonomy:
          description: "Type attribution for the term."
          type: "string"
          enum:
            - "post_tag"
        meta:
          description: "Meta fields."
          type: "object"
          properties: {}
    Navmenu:
      title: "Navmenu"
      type: "object"
      properties:
        id:
          description: "Unique identifier for the term."
          type: "integer"
        description:
          description: "HTML description of the term."
          type: "string"
        name:
          description: "HTML title for the term."
          type: "string"
        slug:
          description: "An alphanumeric identifier for the term unique to its type."
          type: "string"
        meta:
          description: "Meta fields."
          type: "object"
          properties: {}
        locations:
          description: "The locations assigned to the menu."
          type: "array"
          items:
            type: "string"
        auto_add:
          description: "Whether to automatically add top level pages to this menu."
          type: "boolean"
    Wppatterncategory:
      title: "Wppatterncategory"
      type: "object"
      properties:
        id:
          description: "Unique identifier for the term."
          type: "integer"
        count:
          description: "Number of published posts for the term."
          type: "integer"
        description:
          description: "HTML description of the term."
          type: "string"
        link:
          description: "URL of the term."
          type: "string"
          format: "uri"
        name:
          description: "HTML title for the term."
          type: "string"
        slug:
          description: "An alphanumeric identifier for the term unique to its type."
          type: "string"
        taxonomy:
          description: "Type attribution for the term."
          type: "string"
          enum:
            - "wp_pattern_category"
        meta:
          description: "Meta fields."
          type: "object"
          properties: {}
    User:
      title: "User"
      type: "object"
      properties:
        id:
          description: "Unique identifier for the user."
          type: "integer"
        username:
          description: "Login name for the user."
          type: "string"
        name:
          description: "Display name for the user."
          type: "string"
        first_name:
          description: "First name for the user."
          type: "string"
        last_name:
          description: "Last name for the user."
          type: "string"
        email:
          description: "The email address for the user."
          type: "string"
          format: "email"
        url:
          description: "URL of the user."
          type: "string"
          format: "uri"
        description:
          description: "Description of the user."
          type: "string"
        link:
          description: "Author URL of the user."
          type: "string"
          format: "uri"
        locale:
          description: "Locale for the user."
          type: "string"
          enum:
            - ""
            - "en_US"
        nickname:
          description: "The nickname for the user."
          type: "string"
        slug:
          description: "An alphanumeric identifier for the user."
          type: "string"
        registered_date:
          description: "Registration date for the user."
          type: "string"
          format: "date-time"
        roles:
          description: "Roles assigned to the user."
          type: "array"
          items:
            type: "string"
        password:
          description: "Password for the user (never included)."
          type: "string"
        capabilities:
          description: "All capabilities assigned to the user."
          type: "object"
        extra_capabilities:
          description: "Any extra capabilities assigned to the user."
          type: "object"
        avatar_urls:
          description: "Avatar URLs for the user."
          type: "object"
          properties:
            "24":
              description: "Avatar URL with image size of 24 pixels."
              type: "string"
              format: "uri"
            "48":
              description: "Avatar URL with image size of 48 pixels."
              type: "string"
              format: "uri"
            "96":
              description: "Avatar URL with image size of 96 pixels."
              type: "string"
              format: "uri"
        meta:
          description: "Meta fields."
          type: "object"
          properties:
            persisted_preferences:
              type: "object"
              title: ""
              description: ""
              properties:
                _modified:
                  description: "The date and time the preferences were updated."
                  type: "string"
                  format: "date-time"
              additionalProperties: true
    Applicationpassword:
      title: "Applicationpassword"
      type: "object"
      properties:
        uuid:
          description: "The unique identifier for the application password."
          type: "string"
          format: "uuid"
        app_id:
          description: "A UUID provided by the application to uniquely identify it. It is recommended to use an UUID v5 with the
            URL or DNS namespace."
          type: "string"
        name:
          description: "The name of the application password."
          type: "string"
          minLength: 1
          pattern: ".*\\S.*"
        password:
          description: "The generated password. Only available after adding an application."
          type: "string"
        created:
          description: "The GMT date the application password was created."
          type: "string"
          format: "date-time"
        last_used:
          description: "The GMT date the application password was last used."
          type: "string"
          format: "date-time"
          nullable: true
        last_ip:
          description: "The IP address the application password was last used by."
          type: "string"
          format: "ip"
          nullable: true
    Comment:
      title: "Comment"
      type: "object"
      properties:
        id:
          description: "Unique identifier for the comment."
          type: "integer"
        author:
          description: "The ID of the user object, if author was a user."
          type: "integer"
        author_email:
          description: "Email address for the comment author."
          type: "string"
          format: "email"
        author_ip:
          description: "IP address for the comment author."
          type: "string"
          format: "ip"
        author_name:
          description: "Display name for the comment author."
          type: "string"
        author_url:
          description: "URL for the comment author."
          type: "string"
          format: "uri"
        author_user_agent:
          description: "User agent for the comment author."
          type: "string"
        content:
          description: "The content for the comment."
          type: "object"
          properties:
            raw:
              description: "Content for the comment, as it exists in the database."
              type: "string"
            rendered:
              description: "HTML content for the comment, transformed for display."
              type: "string"
        date:
          description: "The date the comment was published, in the site's timezone."
          type: "string"
          format: "date-time"
        date_gmt:
          description: "The date the comment was published, as GMT."
          type: "string"
          format: "date-time"
        link:
          description: "URL to the comment."
          type: "string"
          format: "uri"
        parent:
          description: "The ID for the parent of the comment."
          type: "integer"
          default: 0
        post:
          description: "The ID of the associated post object."
          type: "integer"
          default: 0
        status:
          description: "State of the comment."
          type: "string"
        type:
          description: "Type of the comment."
          type: "string"
          default: "comment"
        author_avatar_urls:
          description: "Avatar URLs for the comment author."
          type: "object"
          properties:
            "24":
              description: "Avatar URL with image size of 24 pixels."
              type: "string"
              format: "uri"
            "48":
              description: "Avatar URL with image size of 48 pixels."
              type: "string"
              format: "uri"
            "96":
              description: "Avatar URL with image size of 96 pixels."
              type: "string"
              format: "uri"
        meta:
          description: "Meta fields."
          type: "object"
          properties:
            _wp_note_status:
              type: "string"
              title: ""
              description: "Note resolution status"
              enum:
                - "resolved"
                - "reopen"
    Searchresult:
      title: "Searchresult"
      type: "object"
      properties:
        id:
          description: "Unique identifier for the object."
          oneOf:
            - type: "integer"
            - type: "string"
        title:
          description: "The title for the object."
          type: "string"
        url:
          description: "URL to the object."
          type: "string"
          format: "uri"
        type:
          description: "Object type."
          type: "string"
          enum:
            - "post"
            - "term"
            - "post-format"
        subtype:
          description: "Object subtype."
          type: "string"
          enum:
            - "post"
            - "page"
            - "category"
            - "post_tag"
    Renderedblock:
      title: "Renderedblock"
      type: "object"
      properties:
        rendered:
          description: "The rendered block."
          type: "string"
    Blocktype:
      title: "Blocktype"
      type: "object"
      properties:
        api_version:
          description: "Version of block API."
          type: "integer"
          default: 1
        title:
          description: "Title of block type."
          type: "string"
          default: ""
        name:
          description: "Unique name identifying the block type."
          type: "string"
          pattern: "^[a-z][a-z0-9-]*/[a-z][a-z0-9-]*$"
        description:
          description: "Description of block type."
          type: "string"
          default: ""
        icon:
          description: "Icon of block type."
          type: "string"
          nullable: true
        attributes:
          description: "Block attributes."
          type: "object"
          properties: {}
          additionalProperties:
            type: "object"
          nullable: true
        provides_context:
          description: "Context provided by blocks of this type."
          type: "object"
          properties: {}
          additionalProperties:
            type: "string"
        uses_context:
          description: "Context values inherited by blocks of this type."
          type: "array"
          default: []
          items:
            type: "string"
        selectors:
          description: "Custom CSS selectors."
          type: "object"
          properties: {}
        supports:
          description: "Block supports."
          type: "object"
          properties: {}
        category:
          description: "Block category."
          type: "string"
          nullable: true
        is_dynamic:
          description: "Is the block dynamically rendered."
          type: "boolean"
          default: false
        editor_script_handles:
          description: "Editor script handles."
          type: "array"
          default: []
          items:
            type: "string"
        script_handles:
          description: "Public facing and editor script handles."
          type: "array"
          default: []
          items:
            type: "string"
        view_script_handles:
          description: "Public facing script handles."
          type: "array"
          default: []
          items:
            type: "string"
        view_script_module_ids:
          description: "Public facing script module IDs."
          type: "array"
          default: []
          items:
            type: "string"
        editor_style_handles:
          description: "Editor style handles."
          type: "array"
          default: []
          items:
            type: "string"
        style_handles:
          description: "Public facing and editor style handles."
          type: "array"
          default: []
          items:
            type: "string"
        view_style_handles:
          description: "Public facing style handles."
          type: "array"
          default: []
          items:
            type: "string"
        styles:
          description: "Block style variations."
          type: "array"
          items:
            type: "object"
            properties:
              name:
                description: "Unique name identifying the style."
                type: "string"
              label:
                description: "The human-readable label for the style."
                type: "string"
              inline_style:
                description: "Inline CSS code that registers the CSS class required for the style."
                type: "string"
              style_handle:
                description: "Contains the handle that defines the block style."
                type: "string"
          default: []
        variations:
          description: "Block variations."
          type: "array"
          items:
            type: "object"
            properties:
              name:
                description: "The unique and machine-readable name."
                type: "string"
              title:
                description: "A human-readable variation title."
                type: "string"
              description:
                description: "A detailed variation description."
                type: "string"
              category:
                description: "Block category."
                type: "string"
                nullable: true
              icon:
                description: "Icon of block type."
                type: "string"
                nullable: true
              isDefault:
                description: "Indicates whether the current variation is the default one."
                type: "boolean"
                default: false
              attributes:
                description: "The initial values for attributes."
                type: "object"
              innerBlocks:
                description: "The list of inner blocks used in the example."
                type: "array"
                items:
                  type: "object"
                  properties:
                    name:
                      description: "The name of the inner block."
                      type: "string"
                      pattern: "^[a-z][a-z0-9-]*/[a-z][a-z0-9-]*$"
                    attributes:
                      description: "The attributes of the inner block."
                      type: "object"
                    innerBlocks:
                      description: "A list of the inner block's own inner blocks. This is a recursive definition following the parent
                        innerBlocks schema."
                      type: "array"
                      items:
                        type: "string"
              example:
                description: "Block example."
                type: "object"
                properties:
                  attributes:
                    description: "The attributes used in the example."
                    type: "object"
                  innerBlocks:
                    description: "The list of inner blocks used in the example."
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          description: "The name of the inner block."
                          type: "string"
                          pattern: "^[a-z][a-z0-9-]*/[a-z][a-z0-9-]*$"
                        attributes:
                          description: "The attributes of the inner block."
                          type: "object"
                        innerBlocks:
                          description: "A list of the inner block's own inner blocks. This is a recursive definition following the parent
                            innerBlocks schema."
                          type: "array"
                          items:
                            type: "string"
                nullable: true
              scope:
                description: "The list of scopes where the variation is applicable. When not provided, it assumes all available scopes."
                type: "array"
                items:
                  type: "string"
                  enum:
                    - "block"
                    - "inserter"
                    - "transform"
                nullable: true
              keywords:
                description: "Block keywords."
                type: "array"
                items:
                  type: "string"
                default: []
        textdomain:
          description: "Public text domain."
          type: "string"
          nullable: true
        parent:
          description: "Parent blocks."
          type: "array"
          items:
            type: "string"
            pattern: "^[a-z][a-z0-9-]*/[a-z][a-z0-9-]*$"
          nullable: true
        ancestor:
          description: "Ancestor blocks."
          type: "array"
          items:
            type: "string"
            pattern: "^[a-z][a-z0-9-]*/[a-z][a-z0-9-]*$"
          nullable: true
        allowed_blocks:
          description: "Allowed child block types."
          type: "array"
          items:
            type: "string"
            pattern: "^[a-z][a-z0-9-]*/[a-z][a-z0-9-]*$"
          nullable: true
        keywords:
          description: "Block keywords."
          type: "array"
          items:
            type: "string"
          default: []
        example:
          description: "Block example."
          type: "object"
          properties:
            attributes:
              description: "The attributes used in the example."
              type: "object"
            innerBlocks:
              description: "The list of inner blocks used in the example."
              type: "array"
              items:
                type: "object"
                properties:
                  name:
                    description: "The name of the inner block."
                    type: "string"
                    pattern: "^[a-z][a-z0-9-]*/[a-z][a-z0-9-]*$"
                  attributes:
                    description: "The attributes of the inner block."
                    type: "object"
                  innerBlocks:
                    description: "A list of the inner block's own inner blocks. This is a recursive definition following the parent
                      innerBlocks schema."
                    type: "array"
                    items:
                      type: "string"
          nullable: true
        block_hooks:
          description: "This block is automatically inserted near any occurrence of the block types used as keys of this map, into
            a relative position given by the corresponding value."
          type: "object"
          additionalProperties:
            type: "string"
        editor_script:
          description: "Editor script handle. DEPRECATED: Use `editor_script_handles` instead."
          type: "string"
          nullable: true
        script:
          description: "Public facing and editor script handle. DEPRECATED: Use `script_handles` instead."
          type: "string"
          nullable: true
        view_script:
          description: "Public facing script handle. DEPRECATED: Use `view_script_handles` instead."
          type: "string"
          nullable: true
        editor_style:
          description: "Editor style handle. DEPRECATED: Use `editor_style_handles` instead."
          type: "string"
          nullable: true
        style:
          description: "Public facing and editor style handle. DEPRECATED: Use `style_handles` instead."
          type: "string"
          nullable: true
    Settings:
      title: "Settings"
      type: "object"
      properties:
        title:
          type: "string"
          title: "Title"
          description: "Site title."
        description:
          type: "string"
          title: "Tagline"
          description: "Site tagline."
        url:
          type: "string"
          title: ""
          description: "Site URL."
          format: "uri"
        email:
          type: "string"
          title: ""
          description: "This address is used for admin purposes, like new user notification."
          format: "email"
        timezone:
          type: "string"
          title: ""
          description: "A city in the same timezone as you."
        date_format:
          type: "string"
          title: ""
          description: "A date format for all date strings."
        time_format:
          type: "string"
          title: ""
          description: "A time format for all time strings."
        start_of_week:
          type: "integer"
          title: ""
          description: "A day number of the week that the week should start on."
        language:
          type: "string"
          title: ""
          description: "WordPress locale code."
          default: "en_US"
        use_smilies:
          type: "boolean"
          title: ""
          description: "Convert emoticons like :-) and :-P to graphics on display."
          default: true
        default_category:
          type: "integer"
          title: ""
          description: "Default post category."
        default_post_format:
          type: "string"
          title: ""
          description: "Default post format."
        posts_per_page:
          type: "integer"
          title: "Maximum posts per page"
          description: "Blog pages show at most."
          default: 10
        show_on_front:
          type: "string"
          title: "Show on front"
          description: "What to show on the front page"
        page_on_front:
          type: "integer"
          title: "Page on front"
          description: "The ID of the page that should be displayed on the front page"
        page_for_posts:
          type: "integer"
          title: ""
          description: "The ID of the page that should display the latest posts"
        default_ping_status:
          type: "string"
          title: ""
          description: "Allow link notifications from other blogs (pingbacks and trackbacks) on new articles."
          enum:
            - "open"
            - "closed"
        default_comment_status:
          type: "string"
          title: "Allow comments on new posts"
          description: "Allow people to submit comments on new posts."
          enum:
            - "open"
            - "closed"
        site_logo:
          type: "integer"
          title: "Logo"
          description: "Site logo."
        site_icon:
          type: "integer"
          title: "Icon"
          description: "Site icon."
    Theme:
      title: "Theme"
      type: "object"
      properties:
        stylesheet:
          description: "The theme's stylesheet. This uniquely identifies the theme."
          type: "string"
        stylesheet_uri:
          description: "The uri for the theme's stylesheet directory."
          type: "string"
          format: "uri"
        template:
          description: "The theme's template. If this is a child theme, this refers to the parent theme, otherwise this is the
            same as the theme's stylesheet."
          type: "string"
        template_uri:
          description: "The uri for the theme's template directory. If this is a child theme, this refers to the parent theme,
            otherwise this is the same as the theme's stylesheet directory."
          type: "string"
          format: "uri"
        author:
          description: "The theme author."
          type: "object"
          properties:
            raw:
              description: "The theme author's name, as found in the theme header."
              type: "string"
            rendered:
              description: "HTML for the theme author, transformed for display."
              type: "string"
        author_uri:
          description: "The website of the theme author."
          type: "object"
          properties:
            raw:
              description: "The website of the theme author, as found in the theme header."
              type: "string"
              format: "uri"
            rendered:
              description: "The website of the theme author, transformed for display."
              type: "string"
              format: "uri"
        description:
          description: "A description of the theme."
          type: "object"
          properties:
            raw:
              description: "The theme description, as found in the theme header."
              type: "string"
            rendered:
              description: "The theme description, transformed for display."
              type: "string"
        is_block_theme:
          description: "Whether the theme is a block-based theme."
          type: "boolean"
        name:
          description: "The name of the theme."
          type: "object"
          properties:
            raw:
              description: "The theme name, as found in the theme header."
              type: "string"
            rendered:
              description: "The theme name, transformed for display."
              type: "string"
        requires_php:
          description: "The minimum PHP version required for the theme to work."
          type: "string"
        requires_wp:
          description: "The minimum WordPress version required for the theme to work."
          type: "string"
        screenshot:
          description: "The theme's screenshot URL."
          type: "string"
          format: "uri"
        tags:
          description: "Tags indicating styles and features of the theme."
          type: "object"
          properties:
            raw:
              description: "The theme tags, as found in the theme header."
              type: "array"
              items:
                type: "string"
            rendered:
              description: "The theme tags, transformed for display."
              type: "string"
        textdomain:
          description: "The theme's text domain."
          type: "string"
        theme_supports:
          description: "Features supported by this theme."
          type: "object"
          properties:
            align-wide:
              description: "Whether theme opts in to wide alignment CSS class."
              type: "boolean"
              default: false
            automatic-feed-links:
              description: "Whether posts and comments RSS feed links are added to head."
              type: "boolean"
              default: false
            block-templates:
              description: "Whether a theme uses block-based templates."
              type: "boolean"
              default: false
            block-template-parts:
              description: "Whether a theme uses block-based template parts."
              type: "boolean"
              default: false
            custom-background:
              description: "Custom background if defined by the theme."
              properties:
                default-image:
                  type: "string"
                  format: "uri"
                default-preset:
                  type: "string"
                  enum:
                    - "default"
                    - "fill"
                    - "fit"
                    - "repeat"
                    - "custom"
                default-position-x:
                  type: "string"
                  enum:
                    - "left"
                    - "center"
                    - "right"
                default-position-y:
                  type: "string"
                  enum:
                    - "left"
                    - "center"
                    - "right"
                default-size:
                  type: "string"
                  enum:
                    - "auto"
                    - "contain"
                    - "cover"
                default-repeat:
                  type: "string"
                  enum:
                    - "repeat-x"
                    - "repeat-y"
                    - "repeat"
                    - "no-repeat"
                default-attachment:
                  type: "string"
                  enum:
                    - "scroll"
                    - "fixed"
                default-color:
                  type: "string"
              additionalProperties: false
              oneOf:
                - type: "boolean"
                - type: "object"
            custom-header:
              description: "Custom header if defined by the theme."
              properties:
                default-image:
                  type: "string"
                  format: "uri"
                random-default:
                  type: "boolean"
                width:
                  type: "integer"
                height:
                  type: "integer"
                flex-height:
                  type: "boolean"
                flex-width:
                  type: "boolean"
                default-text-color:
                  type: "string"
                header-text:
                  type: "boolean"
                uploads:
                  type: "boolean"
                video:
                  type: "boolean"
              additionalProperties: false
              oneOf:
                - type: "boolean"
                - type: "object"
            custom-logo:
              description: "Custom logo if defined by the theme."
              properties:
                width:
                  type: "integer"
                height:
                  type: "integer"
                flex-width:
                  type: "boolean"
                flex-height:
                  type: "boolean"
                header-text:
                  type: "array"
                  items:
                    type: "string"
                unlink-homepage-logo:
                  type: "boolean"
              additionalProperties: false
              oneOf:
                - type: "boolean"
                - type: "object"
            customize-selective-refresh-widgets:
              description: "Whether the theme enables Selective Refresh for Widgets being managed with the Customizer."
              type: "boolean"
              default: false
            dark-editor-style:
              description: "Whether theme opts in to the dark editor style UI."
              type: "boolean"
              default: false
            disable-custom-colors:
              description: "Whether the theme disables custom colors."
              type: "boolean"
              default: false
            disable-custom-font-sizes:
              description: "Whether the theme disables custom font sizes."
              type: "boolean"
              default: false
            disable-custom-gradients:
              description: "Whether the theme disables custom gradients."
              type: "boolean"
              default: false
            disable-layout-styles:
              description: "Whether the theme disables generated layout styles."
              type: "boolean"
              default: false
            editor-color-palette:
              description: "Custom color palette if defined by the theme."
              oneOf:
                - type: "boolean"
                - type: "array"
                  items:
                    type: "object"
                    properties:
                      name:
                        type: "string"
                      slug:
                        type: "string"
                      color:
                        type: "string"
                    additionalProperties: false
            editor-font-sizes:
              description: "Custom font sizes if defined by the theme."
              oneOf:
                - type: "boolean"
                - type: "array"
                  items:
                    type: "object"
                    properties:
                      name:
                        type: "string"
                      size:
                        type: "number"
                      slug:
                        type: "string"
                    additionalProperties: false
            editor-gradient-presets:
              description: "Custom gradient presets if defined by the theme."
              oneOf:
                - type: "boolean"
                - type: "array"
                  items:
                    type: "object"
                    properties:
                      name:
                        type: "string"
                      gradient:
                        type: "string"
                      slug:
                        type: "string"
                    additionalProperties: false
            editor-spacing-sizes:
              description: "Custom spacing sizes if defined by the theme."
              oneOf:
                - type: "boolean"
                - type: "array"
                  items:
                    type: "object"
                    properties:
                      name:
                        type: "string"
                      size:
                        type: "string"
                      slug:
                        type: "string"
                    additionalProperties: false
            editor-styles:
              description: "Whether theme opts in to the editor styles CSS wrapper."
              type: "boolean"
              default: false
            html5:
              description: "Allows use of HTML5 markup for search forms, comment forms, comment lists, gallery, and caption."
              oneOf:
                - type: "boolean"
                - type: "array"
                  items:
                    type: "string"
                    enum:
                      - "search-form"
                      - "comment-form"
                      - "comment-list"
                      - "gallery"
                      - "caption"
                      - "script"
                      - "style"
            formats:
              description: "Post formats supported."
              type: "array"
              default:
                - "standard"
              items:
                type: "string"
                enum:
                  - "standard"
                  - "aside"
                  - "chat"
                  - "gallery"
                  - "link"
                  - "image"
                  - "quote"
                  - "status"
                  - "video"
                  - "audio"
            post-thumbnails:
              description: "The post types that support thumbnails or true if all post types are supported."
              oneOf:
                - type: "boolean"
                - type: "array"
                  items:
                    type: "string"
            responsive-embeds:
              description: "Whether the theme supports responsive embedded content."
              type: "boolean"
              default: false
            title-tag:
              description: "Whether the theme can manage the document title tag."
              type: "boolean"
              default: false
            wp-block-styles:
              description: "Whether theme opts in to default WordPress block styles for viewing."
              type: "boolean"
              default: false
        theme_uri:
          description: "The URI of the theme's webpage."
          type: "object"
          properties:
            raw:
              description: "The URI of the theme's webpage, as found in the theme header."
              type: "string"
              format: "uri"
            rendered:
              description: "The URI of the theme's webpage, transformed for display."
              type: "string"
              format: "uri"
        version:
          description: "The theme's current version."
          type: "string"
        status:
          description: "A named status for the theme."
          type: "string"
          enum:
            - "inactive"
            - "active"
        default_template_types:
          description: "A list of default template types."
          type: "array"
          items:
            type: "object"
            properties:
              slug:
                type: "string"
              title:
                type: "string"
              description:
                type: "string"
        default_template_part_areas:
          description: "A list of allowed area values for template parts."
          type: "array"
          items:
            type: "object"
            properties:
              area:
                type: "string"
              label:
                type: "string"
              description:
                type: "string"
              icon:
                type: "string"
              area_tag:
                type: "string"
    Plugin:
      title: "Plugin"
      type: "object"
      properties:
        plugin:
          description: "The plugin file."
          type: "string"
          pattern: "[^.\\/]+(?:\\/[^.\\/]+)?"
        status:
          description: "The plugin activation status."
          type: "string"
          enum:
            - "inactive"
            - "active"
        name:
          description: "The plugin name."
          type: "string"
        plugin_uri:
          description: "The plugin's website address."
          type: "string"
          format: "uri"
        author:
          description: "The plugin author."
          type: "string"
        author_uri:
[...]
